/* CARD SPECIFIC CLASSES */
.card {
    display:grid;
    grid-template-rows: 55px 1fr;
    width: 100%;
    background:white;
    border-radius: 5px;
    color: rgb(50, 50, 50);
    border: 1px solid rgb(210, 210, 210);
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
.titleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    background: rgb(245, 245, 245);
    border-bottom: 1px solid rgb(210, 210, 210);
}
.title {
    font-size: larger;
    font-weight: bold;
    color: rgb(50, 50, 50);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.icon { 
    padding: 10px;
}
.titleText {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}
/* END CARD SPECIFIC CLASSES */

/* FILTER SPECIFIC CLASSES */
.pickListFilter {
    margin-right: 10px;
}
/* END FILTER SPECIFIC CLASSES */


/* BODY SPECIFIC CLASSES */
.body {
    margin: 10px;
}
/* END BODY SPECIFIC CLASSES */

/* SECTION SPECIFIC */
.sectionSeperation {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.sectionType {
    background: white;
    border-top: 1px solid rgb(210, 210, 210);
    border-left: 1px solid rgb(210, 210, 210);
    border-right: 1px solid rgb(210, 210, 210);
    padding: 5px 10px 5px 10px; /* top right bottom left */
    margin-right: 10px;
    border-radius: 5px 5px 0px 0px; /* top left, top right, bottom right, bottom left */
}
.sectionTitle {
    padding: 5px;
}
/* END SECTION SPECIFIC */

/* ITEM CARD SPECIFIC CLASSES */
.cardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid rgb(210, 210, 210);
}
.cardTitles {
    background: rgb(245, 245, 245);
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cardItems {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cardName {
    width: 100px;
    margin-left: 10px;
}
.cardOrderLineType {
    width: 100px;
}
.cardMarketSegment {
    width: 150px;
}
.cardStartQuantity {
    width: 100px;
    text-align: right;
}
.cardRate {
    width: 50px;
    text-align: right;
    margin-right: 10px;;
}
.itemCard {
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.cardDetail {
    display: flex;
    flex-direction: row;
}
.cardTitle {
    width: 125px;
}
/* END ITEM CARD SPECIFIC CLASSES */