/* GENERAL CLASSES */
.card {
    display:grid;
    grid-template-rows: 40px 40px 1fr;
    width: 100%;
    background:rgb(235, 235, 235);
    border-radius: 5px;
    color: rgb(50, 50, 50);
    border: 1px solid rgb(210, 210, 210);
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
}
/* -- END GENERAL CLASSES */

/* TITLE SPECIFIC CLASSES */
.title {
    font-size: larger;
    font-weight: bold;
    color: rgb(50, 50, 50);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0px;
}

.icon { 
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.titleText {
    padding-top: 10px;
    padding-right: 10px;
}
/* --- END TITLE SPECIFIC CLASSES */

/* FILTER SPECIFIC CLASSES */
.filters {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: left;
}

.filterOptions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.filterTitle {
    padding-right: 10px;
}

.filterSelect {
    padding-right: 0px;
    cursor: pointer;
}

.button {
    padding-right: 40px;
    cursor: pointer;
}

/* --- END FILTER SPECIFIC CLASSES */

.datatTable {
    padding-top: 20px;
    padding-bottom: 10px;
}

/* --- NAVIGATION SPECIFIC CLASSES */
.navButton{
    padding-bottom: 10px;
}
/* --- END NAVIGATION SPECIFIC CLASSES */