.card {
    display:grid;
    grid-template-rows: 40px 310px 50px;
    width: 100%;
    background:white;
    border-radius: 5px;
    overflow: hidden;
    color: rgb(50, 50, 50);
    border: 1px solid rgb(210, 210, 210);
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.wrapper {
  position: relative;
  width: 100%;
  height: 400px;
}

.selections {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 50px 50px 50px 50px 50px 60px;
  position: absolute;
  width: 100%;
  top: 40px;
}
.selections > div {
    height: 50px;
}

.title {
    font-size: large;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0px;
}

.icon {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.titleText {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.picklist {
    margin-right: 20px;
    overflow: visible;
}

.name {
    padding-top: 25px;
    margin-left: 20px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    min-height: 100vh;
}

.yearGrade {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.year, .grade, .studentNumbers, .empty {
    display: flex;
    margin-right: 20px;
    width: 100%;
}

.year, .grade {
  justify-content: center;
  align-items: center;
}

.studentNumbers {
  align-items: baseline;
}

.bttn {
    width: 200px;
    flex: 1 1 auto;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
    background-size: 200% auto;
    color: white;
    text-decoration: none;
    border-color: rgb(210, 210, 210);
    border-width: 1px;
    border-radius: 5px;
    background: rgb(0, 92, 162);
}

.bttn:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.glass {
    width: 25rem;
    height: 15rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    position: absolute;
    z-index: 10;
    background: inherit;
    overflow: hidden;
    backdrop-filter: blur(4px);
}

.results {
    margin: 0;
    position: relative;
    grid-template-rows: 50px auto 50px;
    width: 100%;
    height: 100%;
    display: grid;
    font-size: medium;
}

.titleWhite {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: larger;
  font-weight: bold;
  background-color: rgba(110, 110, 110, 0.15);
}

.titleRed {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: larger;
  font-weight: bold;
  background-color: rgba(255, 0, 0, 0.2);
}

.doneButton {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(110, 110, 110, 0.15);
}

.buttonHolder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
}

.resultsText {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: visible;
}

.loader,
.loader:before,
.loader:after {
  background: #53acf0;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #53acf0;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}