.card {
    display:grid;
    grid-template-rows: 55px 1fr;
    width: 100%;
    background:white;
    border-radius: 5px;
    color: rgb(50, 50, 50);
    border: 1px solid rgb(210, 210, 210);
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.title {
    font-size: large;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0px;
}

.icon {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .titleText {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

.inputContainerDiv{
    padding-left: 2%;
    padding-right: 2%;
}

.combo {
    padding-left: 20%;
}

.btnCreateClassificationContainer {
    height: 50px;
    position: relative;
}

.year {
    padding-left: 2%;
    padding-right: 2%;
}

.grade {
    padding-left: 2%;
    padding-right: 2%;
}

.studentNumbers {
    padding-left: 2%;
    padding-right: 2%;
}

.btnCreateClassification {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.modalHeaderTextBad {
    color: red;
}

.modalHeaderTextGood {
    color: green;
}

.modalHeaderTextBlack {
    color: black;
}