.card {
    position: relative;
    display:grid;
    grid-template-rows: 40px 1f 40px;
    width: 100%;
    background:white;
    border-radius: 5px;
    color: rgb(50, 50, 50);
    border: 1px solid rgb(210, 210, 210);
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.title {
    font-size: larger;
    font-weight: bold;
    color: rgb(110,110,110);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0px;
}

.icon {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.titleText {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.container {
    padding: 10px;
    width: 100%;
    padding: 10px;
}

.userfield {
    padding-right: 10px;
    width: 100%;
}

.apiFields {
    width: 500px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
}

.selection {
    width: 245px;
    text-align: center;
    font-size: smaller;
    display: flex;
    flex-direction: column;
    margin-top: 7px;
}

.result {
    height: 32px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 3px;
    margin-top: px;
    padding: 8px;
}

.resultContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.checkbox {
    width: 25px;
}

.notFound {
    width: 220px;
    color: rgb(255, 75, 0);
    text-align: center;
}

.found {
    width: 220px;
    color: rgb(120, 180, 50);
}

.searchContainer {
    gap: 10px;
    display: flex;;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
}

.recordResults {
    order: 3;
    margin-top: 10px;
    min-width: 450px;
    flex-grow: 1;
}
.recordResults {
    margin-top: 10px;
    min-width: 450px;
    flex-grow: 1;
}

.recordsContainer {
    display: grid;
    grid-template-columns: 1f 1f;
    grid-template-rows: 20px 20px 20px auto auto auto;
    gap: 5px;
    width: auto;
    height: 200px;
    width: 100%;
    background-color: rgb(245, 248, 255);
    border: 1px solid rgb(200, 200, 200);
    border-radius: 3px;
    padding: 5px;
}

.dashboard {
    order: 2;
    margin-top: 10px;
    min-width: 400px;
    flex-grow: 1;
}

.apex {
    order: 1;
    margin-top: 10px;
    min-width: 400px;
    flex-grow: 1;
}

.dashboardContainer {
    display: grid;
    grid-template-columns: 1f;
    grid-template-rows: 18px auto;
    gap: 5px;
    width: 100%;
    height: 200px;
    margin-right: 10px;
    background-color: rgb(245, 248, 255);
    border: 1px solid rgb(200, 200, 200);
    border-radius: 3px;
    padding: 5px;
}

.recordResultsTxt {
    margin-left: 5px;
}

.recordsFound {
    padding-right: 10px;
}

.spacer {
    grid-row: 2;
}

.line {
    width: (100%-5px);
    height: 1px;
    background-color: rgb(200, 200, 200);
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.line1 {
    grid-column: 1 / span 2;
    grid-row: 4;
}

.toggle {
    grid-column: 1 / span 2;
    grid-row: 5;
}

.toggle2 {
    grid-row: 4;
}

.changeRecordsUserfield {
    grid-column: 1 / span 2;
    grid-row: 6;
    width: 100%;
    margin-right: 5px;
    height: 55px;
}

.dashboardResults {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    border: 1px solid rgb(200, 200, 200);
    overflow: hidden;
    display: grid;
    grid-template-rows: 30px auto 25px!important;
}

.apexResults {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    border: 1px solid rgb(200, 200, 200);
    overflow: hidden;
    display: grid;
    grid-template-rows: 30px auto 25px!important;
}

.dashboardResultTitle {
    padding: 5px;
    /* font-size: larger; */
    color: white;
    background-color: rgb(150,150,150);
    height: 30px;
}

.apexResultTitle {
    padding: 5px;
    /* font-size: larger; */
    color: white;
    background-color: rgb(150,150,150);
    height: 30px;
}

.dashboardResultContainer {
    padding-top: 5px;
    direction: rtl;
    overflow: auto;
}

.dashboardResultContainer > * {
    direction: ltr;
}

.dbResultLine {
    padding-left: 10px;
    font-size: smaller;
}

.dashboardResultsBottom {
    padding: 5px;
    font-size: small;
    color: white;
    background-color: rgb(255, 75, 0);
    height: 28px;
}

.warning {
    position: relative;
    top: -3px;
    color: white;
    --sds-c-icon-color-foreground-default: white;
    --sds-c-icon-color-foreground: white;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.button {
    grid-column: 1;
    grid-row: 3;
}

.loader {
    width: 100%;
    height: 100%;
    background: rgba( 255, 255, 255, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 5px;
    position: absolute;
    z-index: 10;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
}

.spinnerContainer {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.loading {
    width: 100%;
    white-space: pre-line;
    font-size: x-large;
    color: rgb(150, 150, 150);
    margin-bottom: 10px;
}

.progressBar {
    height: 20px;
    width: 100%;
}

.errorScreen {
    width: 100%;
    padding: 10px;
    white-space: pre-line;
    height: 150px;
    overflow: auto;
    color: rgb(255, 75, 0);
    font-size: larger;
    direction: rtl;
    background-color: rgba(200, 200, 200, 0.2);
    border-radius: 5px;
}

.errorScreen > * {
    direction: ltr;
}

/* General css  */
.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.flexSpacebetween {
    justify-content: space-between;
}

.flexSpaceAround {
    justify-content: space-around;
}

.flexCenter {
    align-items: center;
    justify-content: center;
}

.width100 {
    width: 100%;
}

.height50px {
    height: 50px;
}

.padding10 {
    padding: 10px;
}

.centerText {
    text-align: center;
}

/* SCROLLBAR STYLES */
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: rgb(230,230,230);
    border-radius: 5px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: rgba(27,184,253,255);
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 100, 100);
    border-radius: 5px;
  }