.cardstyle {
    border: 1px solid rgb(210, 210, 210);
    border-radius: 5px;
    overflow: hidden;
    background: rgb(235, 235, 235);
}

.header {
    padding: 10px;
    font-size: larger;
    font-weight: bold;
}

.icon {
    margin-right: 10px;
}

.spacer {
    height: 10px;
}

.headercontainer {
    width: 100%;
    display: grid;
    grid-template-columns: 4fr 2fr 3fr 2fr;
}

.selectionContainer {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    padding: 5px;
}

.dateSelectContainer {
    width: 150px;
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content:center;
}

.Date2 {
    position: relative;
    top: -13px;
}

.customSelect {
    display: flex;
    align-items: center;
    justify-content: center;
}

.customSelect  > label {
    display: none;
    visibility : hidden;
}

.customSelect select {
    padding-right: 1.25rem;
    min-height: inherit;
    line-height: normal;
}

.customSelect .slds-select_container::before {
    border-bottom: 0;
}

.customSelect .slds-select_container::after {
    position: absolute;
}

.dateSelector {
    width: 150px;
}