.card {
    display:grid;
    grid-template-rows: 50px 1fr 50px;
    width: 100%;
    background:white;
    border-radius: 5px;
    overflow: hidden;
    color: rgb(50, 50, 50);
    border: 1px solid rgb(210, 210, 210);
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.18);
}

.title {
    font-size: larger;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0px;
}

.icon {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.titleText {
  padding-top: 10px;
  padding-right: 10px;
  color: red !important;
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    margin: 10px;

}

.finished {
    width: 125px;
    height: 30px;
    background-color: rgb(50,200,100);
    color: white;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
}

.ui-chkbox.ui-chkbox-all.ui-widget {
  display:none !important;
}