.card {
    display:grid;
    grid-template-rows: 50px 125px;
    width: 100%;
    background:white;
    border-radius: 5px;
    overflow: hidden;
    color: rgb(50, 50, 50);
    border: 1px solid rgb(210, 210, 210);
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.header {
    padding: 10px;
    font-size: larger;
    font-weight: bold;
    color: rgb(110,110,110);
}

.icon_small {
    margin-right: 10px;
}

.buttoncontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.buttonDiv {
    margin: 10px;
}